@use './local-multiplayer-controls' as controls;

.player-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.85rem;
}
.counter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  output {
    min-width: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-variant-numeric: tabular-nums;
  }
}
button {
  @include controls.control;
}
.players {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  gap: 1rem;
}
.advance {
  text-align: center;
  p {
    font-size: 0.8rem;
    color: var(--muted-text-color);
  }
}
.continue {
  @include controls.primary-action;
}
